@model MundoNovo.Models.Emprestimo

@{
    ViewBag.Title = "Dar baixa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dar baixa em empréstimo</h2>

@using (Html.BeginForm("Delete", "Emprestimos", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Empréstimo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.livro.titulo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.livro.titulo, new { htmlAttributes = new { @class = "form-control", @disable = "" } })
                @Html.ValidationMessageFor(model => model.livro.titulo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control", @disable = "" } })
                @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.valor, htmlAttributes: new { @class = "control-label col-md-2" })
            <span class="h4">
                Valor sugerido: @{
                    TimeSpan date = DateTime.Now - DateTime.Parse(Model.dataPrazo);
                    int totalDias = date.Days;
                    double valorSugerido = Model.valor + (Model.valor * 0.1 * totalDias);
                }
                @valorSugerido
            </span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.valor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.valor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dataPrazo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dataPrazo, new { htmlAttributes = new { @class = "form-control", @disable = "" } })
                @Html.ValidationMessageFor(model => model.dataPrazo, "", new { @class = "text-danger" })
                @{
                    if (Model.dataDevolucao == null)
                    {
                        if (DateTime.Parse(Model.dataPrazo) < DateTime.Now)
                        {
                            <span>Atrasado</span>
                            <input type="hidden" value="2" name="status" id="status" />
                        }
                        else
                        {
                            <span>Pendente</span>
                            <input type="hidden" value="1" name="status" id="status" />
                        }
                    }
                }
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Data entrega:</label>
            <div class="col-md-10">
                <input type="datetime" name="dataEntrega" class="form-control" value="@DateTime.Now" disabled="disabled" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.endereco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.endereco, new { htmlAttributes = new { @class = "form-control", @disable = "" } })
                @Html.ValidationMessageFor(model => model.endereco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dar baixa" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
