@model IEnumerable<MundoNovo.Models.Bibliotecario>

@{
    ViewBag.Title = "Início - Usuários";
    Layout = "~/Views/Shared/Template.cshtml";
}

<h2>Usuários</h2>

<p>
    @Html.ActionLink("Cadastrar novo usuário", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.matricula)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.matricula)
            </td>
            <td>
                @Html.ActionLink("Alterar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Remover", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
